
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-4-C76 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-xyyl-jcp {
    width: 100%;
    height: 320rem;
    position: relative;
    flex-shrink: 0;

    .line-1-rBe {
      background-color: rgba(0, 0, 0, 0.8000000119);
      width: 144rem;
      height: 0.1rem;
      position: absolute;
      left: 0.2rem;
      top: 18.4rem;
    }
    .auto-group-tag4-BDv {
      width: 134.1625rem;
      height: 8.8rem;
      position: absolute;
      left: 5.5rem;
      top: 1.8rem;
      display: flex;
      align-items: center;

      .ic-outline-menu-JJY {
        flex-shrink: 0;
        margin: 0.3rem 58.45rem 0rem 0rem;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
      .uss-feed-2EY {
        margin-right: 0.95rem;
        font-size: 3.6rem;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        max-width: 9.1rem;
        text-align: center;
        font-weight: 900;
        font-family: Inter, 'Source Sans Pro';

        .uss-feed-2EY-sub-0 {
        }
        .uss-feed-2EY-sub-1 {
          font-size: 3.6rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #fcb900;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-shqn-aQU {
        height: 1.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 58.392rem 4.5rem 0rem;
        width: 1rem;
      }
      .akar-icons-search-tvx {
        margin-top: 1.9541rem;
        width: 2.7708rem;
        height: 2.7708rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-g1wu-DyE {
      align-items: center;
      width: 70.2rem;
      height: 2.5rem;
      position: absolute;
      left: 37rem;
      top: 14.5rem;
      display: flex;
      column-gap: 4.7rem;

      .editorial-jgg {
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .pop-culture-faL {
        cursor: pointer;
        font-weight: 500;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
      }
      .fashion-8yi {
        font-weight: 500;
        line-height: 1.2125;
        color: #fcb900;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
      }
      .music-U1z {
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .magazines-Pek {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        flex-shrink: 0;
      }
    }
    .auto-group-chu6-vPn {
      left: 5.5rem;
      top: 23.6rem;
      border-top: solid 0.3rem #fcb900;
      box-sizing: border-box;
      width: 132.8rem;
      height: 0.3rem;
      position: absolute;
    }
    .fashion-oyN {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
      left: 5.75rem;
      top: 25.3rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 12.4rem;
      position: absolute;
      text-align: center;
    }
    .auto-group-mpyi-uFi {
      width: 134.1rem;
      height: 284.9rem;
      position: absolute;
      left: 7.4rem;
      top: 34.2rem;
      display: flex;
      align-items: flex-start;

      .auto-group-3kma-2LL {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.7rem;
        width: 87.4rem;

        .rectangle-11-ASY {
          top: 1.6rem;
          background-color: #ffffff;
          width: 85rem;
          height: 269.2rem;
          position: absolute;
          left: 0.5rem;
        }
        .image-6-u9E {
          height: 9rem;
          position: absolute;
          left: 0.7rem;
          top: 275.9rem;
          object-fit: cover;
          vertical-align: top;
          width: 84.6rem;
        }
        .image-10-ESQ {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 84.3rem;
          height: 135.1rem;
          position: absolute;
        }
        .image-12-aFN {
          height: 142.6rem;
          position: absolute;
          left: 0;
          top: 135.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 87.4rem;
        }
      }
      .auto-group-86rs-6zQ {
        margin-top: 0.4rem;
        width: 43rem;
        height: 116.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-10-1ba {
          top: 0;
          background-color: #d9d9d9;
          width: 39.8rem;
          height: 116.7rem;
          position: absolute;
          left: 0;
        }
        .image-7-9Bz {
          vertical-align: top;
          width: 43rem;
          height: 116.7rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
      }
    }
  }
  .auto-group-wp6y-gSp {
    width: 144.9rem;
    background-color: #000000;
    flex-shrink: 0;

    .screenshot-2023-12-13-102809-1-EDS {
      width: 144.9rem;
      height: 48.7rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
