
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-6-Fde {
  padding-bottom: 5.3rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .auto-group-uo2l-nda {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.8rem 0rem 3.6rem 0.2rem;
    width: 100%;

    .auto-group-pqxg-uy6 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4.338rem 3.9rem 5.3rem;
      width: calc(100% - 9.6375rem);
      display: flex;

      .ic-outline-menu-deC {
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.3rem 58.45rem 0rem 0rem;
      }
      .uss-feed-M4Q {
        max-width: 9.1rem;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.95rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 1.2125;

        .uss-feed-M4Q-sub-0 {
        }
        .uss-feed-M4Q-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #fcb900;
        }
      }
      .auto-group-jmbs-hGg {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 58.392rem 4.5rem 0rem;
        width: 1rem;
        height: 1.5rem;
        position: relative;
        object-fit: contain;
      }
      .akar-icons-search-c8k {
        width: 2.7708rem;
        height: 2.7708rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 1.9541rem;
      }
    }
    .auto-group-uvxs-8sn {
      width: calc(100% - 73.6rem);
      display: flex;
      column-gap: 4.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 36.8rem 1.4rem 36.8rem;

      .editorial-MVe {
        cursor: pointer;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 2rem;
        flex-shrink: 0;
      }
      .pop-culture-gXv {
        font-size: 2rem;
        font-weight: 500;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .fashion-pPE {
        color: #000000;
        flex-shrink: 0;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .music-jWC {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .magazines-gAY {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #fcb900;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-1-1Ti {
      width: 144rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.8000000119);
      flex-shrink: 0;
    }
  }
  .group-2-juW {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 150rem;

    .image-8-5iU {
      height: 65.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.9rem;
      width: 134.6rem;
    }
    .image-11-ouN {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 150rem;
      height: 92.3rem;
    }
    .image-13-W36 {
      height: 66.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 144rem;
    }
  }
}
