
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 83.4rem;
}.ipad-pro-11-2-Bq6 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 1.7rem;

  .frame-6-um6 {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 0.8rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 1.1rem;
    width: 100%;
    overflow: hidden;

    .auto-group-8rhz-cfW {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.5rem;

      .auto-group-bpkn-vgC {
        width: calc(100% - 9.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 5.5rem 4.7rem 4rem;

        .ic-outline-menu-FTa {
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.9rem 31.85rem 0rem 0rem;
          width: 3.2rem;
          height: 3.1rem;
          cursor: pointer;
          object-fit: contain;
        }
        .uss-feed-irx {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.75rem 0.1rem 0rem;
          max-width: 5.1rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.2102272034;

          .uss-feed-irx-sub-0 {
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
          }
          .uss-feed-irx-sub-1 {
            font-size: 2rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #fcb900;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-jv7w-WRS {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 28.6667rem;
          width: 0.8rem;
          height: 1.2rem;
        }
        .akar-icons-search-aRJ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.7708rem;
          width: 2.5333rem;
          height: 2.4542rem;
        }
      }
      .auto-group-g2we-twn {
        width: calc(100% - 37.35rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 17.95rem 1.5rem 19.4rem;

        .editorial-oYx {
          margin-right: 2.3rem;
          cursor: pointer;
          text-align: center;
          font-size: 1.3rem;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pop-culture-vtU {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          margin-right: 2.75rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .fashion-T7i {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          cursor: pointer;
          line-height: 1.2125;
          font-size: 1.3rem;
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.25rem;
          text-align: center;
        }
        .music-ay2 {
          color: #000000;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.25rem;
          cursor: pointer;
          line-height: 1.2125;
        }
        .magazines-VaC {
          cursor: pointer;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .line-1-2a8 {
        margin-right: 0.1rem;
        width: calc(100% - 0.1rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .auto-group-ziza-AAY {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 18.4rem;

      .trending-6K6 {
        left: 38.2rem;
        top: 0;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 6.8rem;
        height: 1.9rem;
        position: absolute;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
      }
      .ellipse-4-oUQ {
        width: 1.0359rem;
        height: 1.091rem;
        position: absolute;
        left: 46rem;
        top: 0.309rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-5-Khe {
        left: 46.3641rem;
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.0359rem;
        height: 1.091rem;
        position: absolute;
      }
      .ellipse-6-rha {
        width: 1.0359rem;
        height: 1.091rem;
        position: absolute;
        left: 35.2rem;
        top: 0.309rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-7-Bzk {
        object-fit: contain;
        vertical-align: top;
        width: 1.0359rem;
        height: 1.091rem;
        position: absolute;
        left: 35.5641rem;
        top: 0.3rem;
      }
      .frame-1-XYp {
        height: 16.9rem;
        position: absolute;
        left: 0;
        top: 1.5rem;
        overflow: hidden;
        width: 83.6rem;

        .group-1-fQ8 {
          display: flex;
          align-items: center;
          border-left: solid 0.1rem #000000;
          border-right: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 3.5rem 1.8rem 3.6rem 3.3rem;
          width: 196.2rem;
          height: 19.1rem;

          .screenshot-2023-12-13-092847-1-mCG {
            margin-right: 1.7rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-6-4hA {
            margin-right: 1.6rem;
            width: 0.1rem;
            height: 12rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .screenshot-2023-12-13-092847-2-bwz {
            margin-right: 1.7rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-7-iWp {
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 0.1rem;
            height: 12rem;
            background-color: #000000;
          }
          .screenshot-2023-12-13-092847-3-4ag {
            margin-right: 1.7rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .screenshot-2023-12-13-092847-4-Psr {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8rem;
            width: 29rem;
            height: 12rem;
          }
          .screenshot-2023-12-13-092847-5-jB2 {
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
          }
          .screenshot-2023-12-13-092847-4-f4g {
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .line-2-8U4 {
      flex-shrink: 0;
      width: 83.5rem;
      height: 0.1rem;
      background-color: #000000;
    }
  }
  .frame-7-UH2 {
    padding: 1rem 3.3rem 0.2rem 2.8rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-end;
    background-color: #ffffff;
    margin-left: 0.1rem;
    box-sizing: border-box;
    width: calc(100% - 0.1rem);
    overflow: hidden;
    position: relative;

    .auto-group-eav8-xhz {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      width: 100%;
      height: 49.3rem;

      .auto-group-9fwa-J1A {
        flex-shrink: 0;
        margin-right: 1.55rem;
        width: 51rem;
        height: 100%;

        .rectangle-26-Rba {
          background-color: #d9d9d9;
          margin-bottom: 1.5rem;
          width: 100%;
          height: 34.2rem;
        }
        .narajiwa-aplikasiciptaan-mahasiswa-uns-turunkan-tingkat-self-harm-pada-mahasiswa-m9e {
          margin-bottom: 1.9rem;
          max-width: 38.2rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mahasiswa-uns-ciptakan-layanan-aplikasi-kesehatan-mental-mahasiswa-fakultas-psikologi-universitas-sebelas-maret-uns-surakarta-yang-tergabung-dalam-sebuah-tim-menciptakan-layanan-aplikasi-kesehatan-mental-iyz {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 49.8rem;
        }
      }
      .auto-group-yzu4-Noe {
        width: 24.75rem;
        flex-shrink: 0;

        .rectangle-27-vKN {
          margin: 0rem 0rem 1rem 0.05rem;
          width: 24.7rem;
          height: 17.5rem;
          background-color: #d9d9d9;
        }
        .pop-culture-qBS {
          width: 100%;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .kementrian-esdm-mulai-bagikan-53161-rice-cooker-gratis-Mfa {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 0.9rem 0.05rem;
          max-width: 24.6rem;
        }
        .auto-group-niex-qqe {
          align-items: center;
          margin: 0rem 9.65rem 3.4rem 0rem;
          width: calc(100% - 9.65rem);
          display: flex;

          .risma-azhari-aHS {
            font-size: 1.1rem;
            font-weight: 700;
            flex-shrink: 0;
            margin-right: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
          }
          .jam-lalu-BwS {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .rectangle-32-8Lt {
          margin-left: 0.05rem;
          width: 24.7rem;
          height: 17.5rem;
          background-color: #d9d9d9;
        }
      }
    }
    .auto-group-hgkc-rXn {
      margin: 0rem 17.8rem 0.3rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .risma-azhari-nRS {
        margin-right: 4.2rem;
        font-size: 1.1rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jam-lalu-uW4 {
        margin-right: 35.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .pop-culture-E2Y {
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.2rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .kpk-adakan-acara-lelang-barang-gratifikasi-mulai-dari-album-btsps5hingga-skincare-jjz {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.9rem 0rem;
      max-width: 24.3rem;
      font-size: 1.4rem;
    }
    .auto-group-gplc-cHz {
      flex-shrink: 0;
      margin: 0rem 9.75rem 0rem 52.45rem;
      width: calc(100% - 62.2rem);
      display: flex;
      align-items: center;

      .risma-azhari-7Ek {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.4rem;
        text-align: center;
        color: #000000;
      }
      .jam-lalu-EaG {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
