
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 187.6rem;
}.responsive-c8C {
  width: 100%;
  height: 188.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .dekstop-YGk {
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 5.1rem;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;

    .frame-3-gNx {
      box-sizing: border-box;
      padding-bottom: 4.1rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      width: 144rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;

      .auto-group-6psg-pEG {
        box-sizing: border-box;
        padding: 1.8rem 7.437rem 1.3rem 7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-q7wl-YAG {
          margin-bottom: 3.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ic-outline-menu-Hde {
            margin: 0rem 56.95rem 0.7rem 0rem;
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .uss-feed-znx {
            margin-right: 0.95rem;
            max-width: 9.1rem;
            font-size: 3.6rem;
            line-height: 1.2125;
            flex-shrink: 0;
            text-align: center;
            font-weight: 900;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';

            .uss-feed-znx-sub-0 {
            }
            .uss-feed-znx-sub-1 {
              font-size: 3.6rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #fcb900;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-r1rc-V7S {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 55.292rem 4.5rem 0rem;
            width: 1rem;
            height: 1.5rem;
          }
          .akar-icons-search-bgG {
            height: 2.7708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.9542rem;
            width: 2.7708rem;
          }
        }
        .auto-group-ejxi-XZv {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 29.363rem 0rem 30rem;
          width: calc(100% - 59.3625rem);
          display: flex;
          column-gap: 4.7rem;

          .editorial-32U {
            text-align: center;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            cursor: pointer;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .pop-culture-N4k {
            flex-shrink: 0;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            cursor: pointer;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .fashion-6WY {
            text-align: center;
            font-weight: 500;
            color: #000000;
            cursor: pointer;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
          .music-2f6 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            cursor: pointer;
            text-align: center;
          }
          .magazines-Zf2 {
            cursor: pointer;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .line-1-txC {
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
      }
      .auto-group-jpza-SD2 {
        margin: 0rem 65.1rem 1.1rem 65.1rem;
        width: calc(100% - 130.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-jx9a-kzQ {
          width: 1.4rem;
          height: 1.1rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 0.95rem 0rem 0rem;
        }
        .trending-gNG {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          margin-right: 0.95rem;
          font-weight: 900;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
        }
        .auto-group-dkf2-CrQ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 1.4rem;
          height: 1.1rem;
          position: relative;
        }
      }
      .frame-1-8zx {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 144.2rem;
        height: 19.1rem;
        overflow: hidden;

        .group-1-fzt {
          box-sizing: border-box;
          padding: 3.5rem 1.8rem 3.6rem 3.3rem;
          width: 196.2rem;
          height: 100%;
          display: flex;
          align-items: center;

          .screenshot-2023-12-13-092847-1-nZi {
            margin-right: 1.7rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-6-76C {
            background-color: #000000;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 0.1rem;
            height: 12rem;
          }
          .screenshot-2023-12-13-092847-2-FCQ {
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7rem;
            width: 29rem;
          }
          .line-7-Nnp {
            background-color: #000000;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 0.1rem;
            height: 12rem;
          }
          .screenshot-2023-12-13-092847-3-Wu2 {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7rem;
            width: 29rem;
            height: 12rem;
          }
          .line-8-eVS {
            margin-right: 1.6rem;
            width: 0.1rem;
            height: 12rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .screenshot-2023-12-13-092847-4-nrY {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8rem;
            width: 29rem;
            height: 12rem;
            object-fit: cover;
          }
          .line-9-7tp {
            flex-shrink: 0;
            margin-right: 1.8rem;
            width: 0.1rem;
            height: 12rem;
            background-color: #000000;
          }
          .screenshot-2023-12-13-092847-5-4p4 {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 29rem;
            height: 12rem;
          }
          .line-9-nk4 {
            margin-right: 1.5rem;
            width: 0.1rem;
            height: 12rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .screenshot-2023-12-13-092847-4-LWg {
            width: 29rem;
            height: 12rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .line-2-GfE {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .auto-group-cbyn-ov4 {
      width: 144.2rem;
      height: 134.1rem;
      position: relative;
      flex-shrink: 0;

      .frame-4-9yv {
        top: 0;
        align-items: center;
        display: flex;
        background-color: #ffffff;
        padding: 1.6rem 7rem 2.1rem 6.95rem;
        width: 144rem;
        position: absolute;
        left: 0;
        overflow: hidden;
        flex-direction: column;
        box-sizing: border-box;
        height: 75.6rem;

        .auto-group-wlcc-Tji {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 1.2rem 0.05rem;
          width: calc(100% - 0.05rem);
          height: 35.1rem;
          display: flex;

          .auto-group-owjx-yxx {
            box-sizing: border-box;
            padding-right: 1.95rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .rectangle-26-Kmv {
              flex-shrink: 0;
              margin-right: 2rem;
              width: 64rem;
              height: 34.4rem;
              background-color: #d9d9d9;
            }
            .auto-group-aewn-GBN {
              width: 31rem;
              flex-shrink: 0;

              .rectangle-27-DMW {
                background-color: #d9d9d9;
                margin-bottom: 1.5rem;
                width: 100%;
                height: 17.6rem;
              }
              .pop-culture-m88 {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                margin-bottom: 1.8rem;
                font-weight: 300;
                line-height: 1.2125;
                white-space: nowrap;
              }
              .kementrian-esdm-mulai-bagikan-53161-rice-cooker-gratis-H6U {
                font-family: Inter, 'Source Sans Pro';
                margin-bottom: 1.6rem;
                max-width: 23.4rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
              }
              .auto-group-8x76-yzt {
                margin: 0rem 11.15rem 0rem 0.15rem;
                width: calc(100% - 11.3rem);
                display: flex;
                align-items: center;

                .risma-azhari-Wjv {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  text-align: center;
                  font-size: 1.5rem;
                  font-weight: 700;
                  color: #000000;
                  margin-right: 2.3rem;
                  line-height: 1.2125;
                  flex-shrink: 0;
                }
                .jam-lalu-qXJ {
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.5rem;
                }
              }
            }
          }
          .auto-group-7ekw-xrp {
            width: 31.05rem;
            height: 100%;
            flex-shrink: 0;

            .pop-culture-6i8 {
              text-align: center;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              margin-bottom: 1.5rem;
              width: 100%;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-otex-Dnk {
              margin: 0rem 0rem 0.9rem 0.15rem;
              width: calc(100% - 0.15rem);
              display: flex;
              align-items: flex-start;

              .malaysia-larang-peredaran-kopi-joss-penjual-terancam-didenda-rp30-juta-9wJ {
                margin-right: 6.4rem;
                max-width: 15.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .rectangle-28-Th6 {
                width: 9rem;
                height: 6.2rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
            }
            .auto-group-gdx8-1Ti {
              margin: 0rem 11.15rem 1.7rem 0.2rem;
              width: calc(100% - 11.35rem);
              display: flex;
              align-items: center;

              .risma-azhari-XBA {
                font-weight: 700;
                color: #000000;
                margin-right: 2.3rem;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .jam-lalu-T4p {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .line-10-afE {
              height: 0.1rem;
              background-color: #000000;
              margin: 0rem 0rem 1.9rem 0.05rem;
              width: 31rem;
            }
            .editorial-J5S {
              margin-bottom: 1.3rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              width: 100%;
              text-align: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .auto-group-vzwc-ppU {
              margin-left: 0.15rem;
              width: calc(100% - 0.15rem);
              display: flex;
              align-items: flex-start;

              .nyobain-review-film-the-boy-and-the-heron-a2x {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 6.3rem;
                max-width: 15.6rem;
                font-size: 1.5rem;
                font-weight: 700;
              }
              .rectangle-29-Uu2 {
                height: 6.2rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin-top: 0.2rem;
                width: 9rem;
              }
            }
            .auto-group-uhcq-pCC {
              margin: 0rem 11.15rem 2.9rem 0.2rem;
              width: calc(100% - 11.35rem);
              display: flex;
              align-items: center;

              .risma-azhari-LgL {
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                margin-right: 2.3rem;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
              }
              .jam-lalu-UGk {
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .line-11-DVE {
              width: 31rem;
              height: 0.1rem;
              background-color: #000000;
              margin: 0rem 0rem 2.7rem 0.05rem;
            }
            .pop-culture-YXW {
              width: 100%;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-agma-Uvx {
          margin-bottom: 1.3rem;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-nrza-dJ4 {
            width: 62.25rem;
            flex-shrink: 0;
            margin: 0.9rem 3.8rem 0rem 0rem;

            .technology-xbE {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 300;
              line-height: 1.2125;
              white-space: nowrap;
              margin-bottom: 0.9rem;
              width: 100%;
              text-align: center;
              font-size: 1.5rem;
            }
            .narajiwa-aplikasiciptaan-mahasiswa-uns-turunkan-tingkat-self-harm-pada-mahasiswa-HNc {
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 0rem 1.5rem 0.05rem;
              max-width: 61rem;
              font-size: 3.2rem;
            }
            .mahasiswa-uns-ciptakan-layanan-aplikasi-kesehatan-mental-mahasiswa-fakultas-psikologi-universitas-sebelas-maret-uns-surakarta-yang-tergabung-dalam-sebuah-tim-menciptakan-layanan-aplikasi-kesehatan-mental-yFS {
              max-width: 62.2rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 0rem 0.9rem 0.05rem;
            }
            .auto-group-1apk-1T2 {
              margin-right: 42.7rem;
              width: calc(100% - 42.7rem);
              display: flex;
              align-items: center;

              .risma-azhari-9p8 {
                margin-right: 2.45rem;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
              .jam-lalu-t12 {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .auto-group-dv6l-27E {
            margin: 0.3rem 1.9rem 0rem 0rem;
            width: 31rem;
            flex-shrink: 0;

            .rectangle-32-9Sk {
              margin-bottom: 1.5rem;
              width: 100%;
              height: 17.6rem;
              background-color: #d9d9d9;
            }
            .pop-culture-tfE {
              text-align: center;
              font-weight: 300;
              white-space: nowrap;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin-bottom: 1.8rem;
              width: 100%;
              font-size: 1.2rem;
              line-height: 1.2125;
            }
            .kpk-adakan-acara-lelang-barang-gratifikasi-mulai-dari-album-btsps5hingga-skincare-RQG {
              max-width: 27.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-tyxj-vbv {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1rem;
            width: 31.1rem;
            border-bottom: solid 0.1rem #000000;

            .auto-group-lsvg-fJc {
              margin: 0rem 0rem 1.2rem 0.2rem;
              width: calc(100% - 0.2rem);
              display: flex;
              align-items: flex-start;

              .uang-logam-ini-dijual-dengan-harga-tinggi-di-e-commerce-usai-dicabut-peredarannya-oleh-bi-PVW {
                margin-right: 3.6rem;
                max-width: 18.3rem;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .rectangle-30-5t8 {
                height: 6.2rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin-top: 0.1rem;
                width: 9rem;
              }
            }
            .auto-group-cnje-q6c {
              margin: 0rem 11.15rem 0.9rem 0.25rem;
              width: calc(100% - 11.4rem);
              display: flex;
              align-items: center;

              .risma-azhari-APn {
                text-align: center;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.3rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .jam-lalu-gsv {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .line-12-EPe {
              width: 31rem;
              height: 0.1rem;
              background-color: #000000;
              margin: 0rem 0rem 2.7rem 0.1rem;
            }
            .fashion-Zgp {
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.3rem;
              text-align: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 1.2rem;
            }
            .auto-group-qxx8-VKa {
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: flex-start;

              .cucu-miliader-pendiri-hermes-berikan-warisan-ke-tukang-kebun-senilai-rp172-m-DmN {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 3.9rem;
                max-width: 18.1rem;
                font-size: 1.5rem;
                font-weight: 700;
              }
              .rectangle-31-uu6 {
                width: 9rem;
                height: 6.2rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
            }
            .auto-group-b4x4-FTA {
              width: calc(100% - 11.4rem);
              display: flex;
              align-items: center;
              margin: 0rem 11.15rem 0.9rem 0.25rem;

              .risma-azhari-PJU {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.3rem;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
              }
              .jam-lalu-KC8 {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-ebj2-2sE {
          margin: 0rem 44.2rem 0rem 66.2rem;
          width: calc(100% - 110.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .risma-azhari-NAQ {
            margin-right: 2.35rem;
            font-size: 1.5rem;
            line-height: 1.2125;
            white-space: nowrap;
            text-align: center;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .jam-lalu-J44 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .frame-5-pYC {
        width: 144rem;
        height: 59.1rem;
        position: absolute;
        left: 0;
        top: 75rem;
        overflow: hidden;
        background-color: #ffffff;

        .frame-2-MY8 {
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          width: 144rem;
          height: 59.1rem;

          .group-3-WR2 {
            width: 273.5rem;
            height: 100%;
            position: relative;
            background-color: #111111;

            .image-14-G9J {
              top: 9.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 128.7rem;
              height: 46.3rem;
              position: absolute;
              left: 8.4rem;
            }
            .image-15-ypQ {
              top: 8.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 130.1rem;
              height: 46.5rem;
              position: absolute;
              left: 136.1rem;
            }
          }
        }
        .ph-arrow-up-bold-WJY {
          vertical-align: top;
          width: 3.907rem;
          height: 3.2822rem;
          position: absolute;
          left: 132.6461rem;
          top: 3.059rem;
          object-fit: contain;
        }
        .ph-arrow-up-bold-Dik {
          left: 137.1469rem;
          top: 3.0588rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.907rem;
          height: 3.2822rem;
          position: absolute;
        }
      }
    }
  }
}
